SPRING_DATASOURCE_URL = "jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:5432/postgres?user=postgres.dlhlwiluylwkatexlhvq&password=parampbr**"
SPRING_DATASOURCE_USERNAME = "postgres.dlhlwiluylwkatexlhvq"
SPRING_DATASOURCE_PASSWORD = "parampbr**"
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_ID = "REDACTED_GOOGLE_CLIENT_ID"
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_SECRET = "REDACTED_GOOGLE_CLIENT_SECRET"
DOCKERHUB_USERNAME = "paramsavjanidev"
