spring:
  application:
    name: underworldnetwork-backend
  datasource:
    url: jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:5432/postgres?user=postgres.dlhlwiluylwkatexlhvq&password=parampbr**
    username: postgres.dlhlwiluylwkatexlhvq
    password: parampbr**