spring:
  application:
    name: underworldnetwork-backend
  datasource:
    url: jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:5432/postgres?user=postgres.dlhlwiluylwkatexlhvq&password=parampbr**
    username: postgres.dlhlwiluylwkatexlhvq
    password: parampbr**
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 891680019120-o01pknut12o14mo3dvsupis6t3ogbjs8.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
  session:
    timeout: 2592000 # Session timeout: 30 days in seconds
    cookie:
      name: JSESSIONID
      http-only: true # Prevent XSS attacks
      secure: false # Set to true in production with HTTPS
      same-site: lax # CSRF protection
      max-age: 2592000 # 30 days in seconds (cookie expiration)